@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
  background: #4c4c4c;
  width: 300px;
  height: 30vh;
  padding: 10px;
}

.player::before {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  border-radius: 5px;
  background: linear-gradient(315deg, #007db5, #258d2f);
  z-index: -1;
}

.current-track {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  opacity: .8;
  overflow: hidden;
  height: 60px;
}

.track-title-wrapper {
  position: relative;
/*  overflow: hidden;*/
  width: 100%;
  height: 20px;
}

.track-title {
  position: absolute;
  white-space: nowrap;
}

.track-duration {
  margin: 10px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.seek-slider {
  --play-duration: 0%;
  position: relative;
  -webkit-appearance: none;
  width: 180px;
  cursor: pointer;
  height: 15px;
  background: #4c4c4c;
}

.seek-slider::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 1px;
  width: calc(var(--play-duration) * 0.95);
  max-width: calc(100% - 15px);
  height: 7px;
  border-radius: 2px;
  background-color: #C5B358;
  cursor: pointer;
  z-index: 1;
}

.seek-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: #ffffff;
  opacity: .8;
}

.seek-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border: #ffffff solid 1px;
  border-radius: 50%;
  background: #C5B358;
  margin-top: -3px;
}

.seek-slider:active::-webkit-slider-thumb {
  transform: scale(1.1);
}

.controls-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  width: 100%;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  opacity: .8;
}

.volume-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 120px;
}

.volume-icon {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
  background-image: url("../assets/svg/volume.svg");
}

.muted {
  background-image: url("../assets/svg/mute.svg");
}

.volume-slider {
  --volume-level: 100%;
  position: relative;
  -webkit-appearance: none;
  width: 100px;
  cursor: pointer;
  height: 15px;
  background: #4c4c4c;
}

.volume-slider::before {
  position: absolute;
  content: "";
  top: 6px;
  right: 0;
  width: calc(100% - var(--volume-level));
  height: 3px;
  background-color: #ffffff;
  opacity: .8;
  cursor: pointer;
  z-index: 1;
}

.volume-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to right, #00ff00, #ffff00, #ff0000);
  opacity: .8;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 5px;
  border-radius: 2px;
  background: #ffffff;
  margin-top: -6px;
}

.volume-slider:active::-webkit-slider-thumb {
  transform: scale(1.1);
}

.add-track-select {
  display: none;
}

.add-track-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-image: url("../assets/svg/addTrack.svg");
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #4c4c4c;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
  z-index: 1;
}

.add-track-button:hover {
  opacity: 1;
}

.add-track-button:active {
  transform: scale(1.1);
}

.play-list {
  width: calc(100% - 35px);
  max-height: 140px;
  border: #ffffff solid 1px;
  border-radius: 3px;
  text-align: left;
  opacity: .8;
  font-size: .8em;
  overflow-x: hidden;
  overflow-y: auto;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\23F5";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.item-playing::before {
  content: "\23F8";
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.volume-icon:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.volume-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container,
.wind-container,
.humidity-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.forecast-icon {
  display: none;
  width: 16px;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.temperature-icon {
  background-image: url("../assets/svg/temperature_icon.svg");
  background-size: 150% 150%;
  opacity: .6;
}

.wind-icon {
  background-image: url("../assets/svg/wind_icon.svg");
  background-size: 100% 100%;
  opacity: .5;
}

.humidity-icon {
  background-image: url("../assets/svg/humidity_icon.svg");
  background-size: 90% 90%;
  opacity: .9;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.fetching {
  opacity: .3;
  transform: scale(.1);
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings-button {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  background-image: url("../assets/svg/settings_icon.svg");
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: .8;
  transition: .3s;
}

.settings-button:hover {
  opacity: 1;
}

.settings-button:active {
  transform: scale(1.1);
}

.settings-active + .settings-button {
  transform: scale(0);
}

.settings-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: absolute;
  padding: 20px;
  right: 30px;
  bottom: 30px;
  width: 300px;
  height: 450px;
  border: #ffffff solid 1px;
  border-radius: 16px;
  backdrop-filter: blur(30px);
  transform: scale(0);
  overflow: hidden;
  transition: .5s;
}

.settings-active {
  position: absolute;
  padding: 20px;
  right: 30px;
  bottom: 30px;
  width: 300px;
  height: 450px;
  border: #ffffff solid 1px;
  border-radius: 16px;
  backdrop-filter: blur(30px);
  transform: scale(1);
  overflow: hidden;
}

.close-btn {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-image: url("../assets/svg/close_icon.svg");
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: .8;
  transition: .3s;
}

.close-btn:hover {
  opacity: 1;
}

.close-btn:active {
  transform: scale(1.1);
}

.settings-title {
  margin-bottom: 30px;
}

.settings-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-title-field {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}